*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
  color: #463f51;
  background: #222127;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
